<div class="wave-wrapper">
  <div id="shopify-section-template--19112449507428__ss_wave_2_X7tPgN" class="shopify-section">
    <style data-shopify="">
      .section-template--19112449507428__ss_wave_2_X7tPgN {
      border-top: solid #000000 0px;
      border-bottom: solid #000000 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .section-template--19112449507428__ss_wave_2_X7tPgN-settings {
      margin: 0 auto;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  
    .wave-item-template--19112449507428__ss_wave_2_X7tPgN svg {
      color: {{block.settings.wave_color}};
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      max-height: 30px;
    }
  
    .wave-parallax2-template--19112449507428__ss_wave_2_X7tPgN > use {
      opacity: .4;
    }
  
    .wave-parallax3-template--19112449507428__ss_wave_2_X7tPgN > use {
      opacity: .3;
    }
  
    .wave-parallax4-template--19112449507428__ss_wave_2_X7tPgN > use {
      opacity: .2;
    }
    
    @media(min-width: 1024px) {
  
      .section-template--19112449507428__ss_wave_2_X7tPgN {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      
      .section-template--19112449507428__ss_wave_2_X7tPgN-settings {
        padding: 0 5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
      }
  
      .wave-item-template--19112449507428__ss_wave_2_X7tPgN svg {
        max-height: 46px;
      }
    }</style>
    <style>
      .wave-parallax1-template--19112449507428__ss_wave_2_X7tPgN > use {
        animation: move-forever1template--19112449507428__ss_wave_2_X7tPgN 10s linear infinite;
      }
      
      .wave-parallax2-template--19112449507428__ss_wave_2_X7tPgN > use {
        animation: move-forever2template--19112449507428__ss_wave_2_X7tPgN 10s linear infinite;
      }
      
      .wave-parallax3-template--19112449507428__ss_wave_2_X7tPgN > use {
        animation: move-forever3template--19112449507428__ss_wave_2_X7tPgN 10s linear infinite;
      }
      
      .wave-parallax3-template--19112449507428__ss_wave_2_X7tPgN > use {
        animation: move-forever4template--19112449507428__ss_wave_2_X7tPgN 10s linear infinite;
      }
  
      @keyframes move-forever1template--19112449507428__ss_wave_2_X7tPgN {
        0% {
            transform: translate(85px);
        }
        100% {
            transform: translate(-90px);
        }
      }
  
      @keyframes move-forever2template--19112449507428__ss_wave_2_X7tPgN {
        0% {
            transform: translate(-90px);
        }
        100% {
            transform: translate(85px);
        }
      }
  
      @keyframes move-forever3template--19112449507428__ss_wave_2_X7tPgN {
        0% {
            transform: translate(85px);
        }
        100% {
            transform: translate(-90px);
        }
      }
  
      @keyframes move-forever4template--19112449507428__ss_wave_2_X7tPgN {
        0% {
            transform: translate(-90px);
        }
        100% {
            transform: translate(85px);
        }
      }
    </style>
    <div class="section-template--19112449507428__ss_wave_2_X7tPgN wave-template--19112449507428__ss_wave_2_X7tPgN" style="background-color:{{ block.settings.wave_bg }}; background-image: ;">
      <div class="section-template--19112449507428__ss_wave_2_X7tPgN-settings">
        <div class="wave-item-template--19112449507428__ss_wave_2_X7tPgN">
          <svg class="waves-animated-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0
                58-18 88-18s
                58 18 88 18
                58-18 88-18
                58 18 88 18
                v44h-352z"></path>
            </defs>
            <g class="wave-parallax1-template--19112449507428__ss_wave_2_X7tPgN">
              <use xlink:href="#gentle-wave" x="50" y="3" fill="currentColor"></use>
            </g>
            <g class="wave-parallax2-template--19112449507428__ss_wave_2_X7tPgN">
              <use xlink:href="#gentle-wave" x="50" y="0" fill="currentColor"></use>
            </g>
            <g class="wave-parallax3-template--19112449507428__ss_wave_2_X7tPgN">
              <use xlink:href="#gentle-wave" x="50" y="9" fill="currentColor"></use>
            </g>
            <g class="wave-parallax4-template--19112449507428__ss_wave_2_X7tPgN">
              <use xlink:href="#gentle-wave" x="50" y="6" fill="currentColor"></use>
            </g>
          </svg>
        </div>
      </div>
  </div>
  
  </div>
  <div id="shopify-section-template--19112449507428__marquee_images_3GdPQE" class="shopify-section"><style>
    .section-template--19112449507428__marquee_images_3GdPQE.custom-marquee-images {
      display: flex;
      align-items: center;
      width: 100vw;
      max-width: 100%;
      height: 52px;
      padding-top: 0px;
      padding-bottom: 0px;
      overflow-x: hidden;
      background:{{block.settings.wave_color}};
    }
    .section-template--19112449507428__marquee_images_3GdPQE.custom-marquee-images .track-images {
      display: flex;
      align-items: center;
      white-space: nowrap;
      will-change: transform;
      animation: marquee {{ block.settings.wavespeed }}s linear infinite;
    }
    .section-template--19112449507428__marquee_images_3GdPQE.custom-marquee-images img {
      margin-left: 40px;
      width: calc(88px + 50px);;
    }
    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-20%);
      }
    }
  </style>
    <div class="section-template--19112449507428__marquee_images_3GdPQE custom-marquee-images" role="region">
        <div class="track-images">
        {% if block.settings.image01 != blank %}  <img src="{{ block.settings.image01 | img_url}}" width="150" height="100%"> {% endif %}
         {% if block.settings.image02 != blank %}  <img src="{{ block.settings.image02 | img_url}}" width="150" height="100%"> {% endif %}
          {% if block.settings.image03 != blank %}  <img src="{{ block.settings.image03 | img_url }}" width="150" height="100%"> {% endif %}
           {% if block.settings.image04 != blank %}  <img src="{{ block.settings.image04 | img_url }}" width="150" height="100%"> {% endif %}
            {% if block.settings.image05 != blank %}  <img src="{{ block.settings.image05 | img_url }}" width="150" height="100%"> {% endif %}
             {% if block.settings.image06 != blank %}  <img src="{{ block.settings.image06 | img_url }}" width="150" height="100%"> {% endif %}
              {% if block.settings.image07 != blank %}  <img src="{{ block.settings.image07 | img_url }}" width="150" height="100%"> {% endif %}
        </div>
    </div>
  
  </div>
  <div id="shopify-section-template--19112449507428__ss_wave_2_gxtmtg" class="shopify-section">
  <style data-shopify="">.section-template--19112449507428__ss_wave_2_gxtmtg {
      /* border-top: solid #000000 0px;
      border-bottom: solid #000000 0px; */
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .section-template--19112449507428__ss_wave_2_gxtmtg-settings {
      margin: 0 auto;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  
    .wave-item-template--19112449507428__ss_wave_2_gxtmtg svg {
      color: {{block.settings.wave_color}};
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      max-height: 30px;
    }
  
    .wave-parallax2-template--19112449507428__ss_wave_2_gxtmtg > use {
      opacity: .4;
    }
  
    .wave-parallax3-template--19112449507428__ss_wave_2_gxtmtg > use {
      opacity: .3;
    }
  
    .wave-parallax4-template--19112449507428__ss_wave_2_gxtmtg > use {
      opacity: .2;
    }
    
    @media(min-width: 1024px) {
  
      .section-template--19112449507428__ss_wave_2_gxtmtg {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      
      .section-template--19112449507428__ss_wave_2_gxtmtg-settings {
        padding: 0 5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
      }
  
      .wave-item-template--19112449507428__ss_wave_2_gxtmtg svg {
        max-height: 56px;
      }
    }</style>
  
  
    <style>
      .wave-item-template--19112449507428__ss_wave_2_gxtmtg {
        transform: rotate(180deg);
      }
    </style>
  
  
  
    <style>
      .wave-parallax1-template--19112449507428__ss_wave_2_gxtmtg > use {
        animation: move-forever1template--19112449507428__ss_wave_2_gxtmtg 10s linear infinite;
      }
      
      .wave-parallax2-template--19112449507428__ss_wave_2_gxtmtg > use {
        animation: move-forever2template--19112449507428__ss_wave_2_gxtmtg 10s linear infinite;
      }
      
      .wave-parallax3-template--19112449507428__ss_wave_2_gxtmtg > use {
        animation: move-forever3template--19112449507428__ss_wave_2_gxtmtg 10s linear infinite;
      }
      
      .wave-parallax3-template--19112449507428__ss_wave_2_gxtmtg > use {
        animation: move-forever4template--19112449507428__ss_wave_2_gxtmtg 10s linear infinite;
      }
  
      @keyframes move-forever1template--19112449507428__ss_wave_2_gxtmtg {
        0% {
            transform: translate(85px);
        }
        100% {
            transform: translate(-90px);
        }
      }
  
      @keyframes move-forever2template--19112449507428__ss_wave_2_gxtmtg {
        0% {
            transform: translate(-90px);
        }
        100% {
            transform: translate(85px);
        }
      }
  
      @keyframes move-forever3template--19112449507428__ss_wave_2_gxtmtg {
        0% {
            transform: translate(85px);
        }
        100% {
            transform: translate(-90px);
        }
      }
  
      @keyframes move-forever4template--19112449507428__ss_wave_2_gxtmtg {
        0% {
            transform: translate(-90px);
        }
        100% {
            transform: translate(85px);
        }
      }
    </style>
  
  
  <div class="section-template--19112449507428__ss_wave_2_gxtmtg wave-template--19112449507428__ss_wave_2_gxtmtg" style="background-color:{{ block.settings.wave_bg }}; background-image: ;">
      <div class="section-template--19112449507428__ss_wave_2_gxtmtg-settings">
        <div class="wave-item-template--19112449507428__ss_wave_2_gxtmtg">
          <svg class="waves-animated-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
            <defs>
              <path id="gentle-wave" d="M-160 44c30 0
                58-18 88-18s
                58 18 88 18
                58-18 88-18
                58 18 88 18
                v44h-352z"></path>
            </defs>
            <g class="wave-parallax1-template--19112449507428__ss_wave_2_gxtmtg">
              <use xlink:href="#gentle-wave" x="50" y="3" fill="currentColor"></use>
            </g>
            <g class="wave-parallax2-template--19112449507428__ss_wave_2_gxtmtg">
              <use xlink:href="#gentle-wave" x="50" y="0" fill="currentColor"></use>
            </g>
            <g class="wave-parallax3-template--19112449507428__ss_wave_2_gxtmtg">
              <use xlink:href="#gentle-wave" x="50" y="9" fill="currentColor"></use>
            </g>
            <g class="wave-parallax4-template--19112449507428__ss_wave_2_gxtmtg">
              <use xlink:href="#gentle-wave" x="50" y="6" fill="currentColor"></use>
            </g>
          </svg>
        </div>
      </div>
  </div>
  
  </div>
</div>

{% schema %}
  {
    "name": "Scrolling Image",
    "target":"section",
    "settings": [
      {
        "type":"color",
        "id":"wave_color",
        "label":"Wave Background Color",
        "default":"#ccff00"
      },
      {
        "type":"color",
        "id":"wave_bg",
        "label":"Wave secondry Background",
        "default":"#000"
      },
        {
        "type": "range",
        "id": "wavespeed",
        "label": "Wave speed",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 10
      },
      {
        "type":"image_picker",
        "id":"image01",
        "label": "Image 01"
      },
       {
        "type":"image_picker",
        "id":"image02",
        "label": "Image 02"
      },
       {
        "type":"image_picker",
        "id":"image03",
        "label": "Image 03"
      },
       {
        "type":"image_picker",
        "id":"image04",
        "label": "Image 04"
      },
       {
        "type":"image_picker",
        "id":"image05",
        "label": "Image 05"
      },
       {
        "type":"image_picker",
        "id":"image06",
        "label": "Image 06"
      },
       {
        "type":"image_picker",
        "id":"image07",
        "label": "Image 07"
      }
    ]
  }
{% endschema %}